body{
    min-height: 100%;
    background: center 70% url("img/summer.jpg");
    overflow-x: hidden;
}
header{
    height: auto;
    background:transparent;
    width: 100%;
}
.navbar-brand{
    font-family: serif;
    font-size: xx-large;
}
main{
    min-height: 80vh;    
}
form{ 
    margin-top: 5rem;
}
fieldset{
    font-size: xx-large;
    margin-left:5rem !important;
}
.desc{
    font-size: medium;
}
.form{
    margin-left:5rem;
}
.form input{
    width: 20rem;
    height: 3rem;
    margin: 2rem 1rem 2rem 0;
}
.form [type="submit"]{
    width: 10rem;
    height: 3rem;
}
footer{
    height: 20vh;
    bottom: 0;
    background-color: gray;
    min-height: 10vh;
    text-align: center;
}
