*{
    font-family: 'Roboto', sans-serif;
    font-size: 1.05rem;
    --primary:#287094;
    --secondary:#d4d4ce;
    --default:#f6f6f6;
    --dark:#023246;
}
button,a,.brandlogo,.navbar,li,i,a{
    transition: 400ms;
}
button{
    font-family: sans;
    outline: none;
    font-weight: 700;
    font-size: 1.05rem;
    color: var(--default);
    background: var(--primary);
}
button:hover{
    color: var(--primary);
    background: var(--default);
}
body{
    background:var(--default);
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10vh auto 11vh;
    grid-template-areas: 
    "head head head"
    "main main main"
    "footer footer footer";
}
header{
    display: flex;
    grid-area: head;
    width: 100%;
    align-items: center;
    box-shadow: 3px 0px 3px 1px black;
}
.mainheader{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: transparent;
    width:60%;
    height:100%;
    background: var(--default);
}
.brandlogo{
    height: inherit;
    cursor: pointer;
}
.searchfield{
    border-radius:25px;
    background: white;
    margin-right:1rem;
    border:1px solid black;
    box-shadow: 1px 1px 5px whitesmoke;
}
.searchfield input{
    border-radius: 25px;
    border:1px solid transparent;
    outline: none;
    width:5rem;
}
.searchfield span{
    margin:0.5rem 1rem 0.5rem 0.5rem;
}
.searchtext:focus{
    width:8rem;
}
.navbar{
    display: block;
    justify-content: center;
    align-items: center; 
    width:40%;
    height:100%;
    background: var(--default);
}
.navbar ul{
    list-style: none;
    display:flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    margin-right:1rem;
    padding-left:1rem;
}
.navbar li{
    cursor:pointer;
    text-align: center;
    transition: 10ms;
}
.navbar li:hover{
    color:var(--primary);
    transition: 10ms;
}
.navbar li span{
    margin-left:6px;
    transition: 10ms;

}
@media screen and (max-width: 900px){
    .navbar{
        position:fixed;
        bottom: 0;
        height: auto;
        width:100%;
        border-top:1px solid black;
    }
    .searchtext:focus{
        width:6rem;
    }
    .mainheader{
        background: var(--default);
        width:100%;
    }
    .navbar li span{
        display: none;
    }
}
main{
    grid-area: main;
    margin:4rem 0;
}
.container{
    display: flex;
    margin:1vh 5vw;
    flex-direction: column ;
    background: gray;

}
.featured{
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    border:1px solid black;

}
@media (max-width:900px){
    .item{
        min-width: 90vw;
        min-height:20vh;
    }
}
.item{
    flex-grow: 1;
    margin: 1vw;
    height:250px;
    border:1px solid black;
    background:linear-gradient(180deg, #F9F9F9 0%, #9BAED7 100%);
    
}
.item button{
    float:left;
    height:20%;
    width:30%;
}
.item img{
    float:right;
    max-height:50%;
}
.item:nth-child(4){
    margin: 1vw;
    flex-grow:1;
    border:1px solid silver;
}
  
footer{
    grid-area: footer;
    background-color: var(--dark);
    width: 100%;
}