*{
    font-family:"Nunito",sans-serif;
    font-size: 1.05rem;
    /* --primary:#4353FF; */

    --default:#f6f6f6;
    --dark:#023246;
    --primary:#0275d8;
    --success:#5cb85c;
    --info:#5bc0de;
    --warning:#f0ad4e;
    --danger:#d9534f;
    --inverse:#292b2c;
    --faded:#f7f7f7;
    --light:#eef2f7;
    --gray: rgb(177, 177, 177); 
}

button{
    font-family: sans;
    outline: none;
    font-weight: 700;
    font-size: 1.05rem;
    color: var(--default);
    background: var(--primary);
}
button:hover{
    color: var(--primary);
    background: var(--default);
}
body{
    background:var(--default);
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10vh auto 11vh;
    grid-template-areas: 
    "head head head"
    "main main main"
    "footer footer footer";
}
*{
    margin:0;
    padding:0;
    --primary:#0275d8;
    --success:#5cb85c;
    --info:#5bc0de;
    --warning:#f0ad4e;
    --danger:#d9534f;
    --inverse:#292b2c;
    --faded:#f7f7f7;

}
::-webkit-scrollbar {
    width: 0.5rem;
    border-radius:21px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: gray;
    border-radius: 21px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #A7C5EB;
    border-radius:21px;
    
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #949cdf; 
  }

body{
    display: block;
    width:auto;
}
/* HEADER START */
header{
    grid-area: head;
    display: flex;
    width: 100%;
    height: 60px;
    min-height: 5%;
    flex-direction: row;
    align-items: center;
    box-shadow: 3px 0px 3px 1px black;
    background: var(--faded);
}
header a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
header a img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.mainheader{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    width: 60%;
    height: 100%;
    background: transparent;
}
.mainheader span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    border: 1px solid var(--inverse);
    padding: 0.5rem;
    border-radius: 21px;
}
.mainheader span i{
    color:var(--inverse);
}
.mainheader span input{
    border: 0;
    outline: none;
    width:5rem;
    background:transparent;
    transition: 400ms;
}::placeholder{
    background:transparent;
    opacity: 0.4;
    color:var(--inverse);
}
.mainheader span input:focus{
    width:7rem;
    
}
.navbar{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    flex-direction: row;
    /* text-align: left; */
    width: 40%;
    height: 100%;
    background: transparent;
    z-index: 1;
}
@media screen and (max-width: 900px){
    .navbar{
        position:fixed;
        bottom: 0;
        height: 50px;
        min-height: 35px;
        width:100%;
        border-top:1px solid black;
        display: flex;
        /* justify-content: space-around; */
        flex-direction: row;
        /* text-align: left; */
        background-color: white;
    }
    .navbar ul li a span{
        color: var(--fade);
        display: none;
    }
}
.navbar ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar ul li a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    text-decoration: none;
    color:var(--inverse);
    font-size:1.2rem;

}
.navbar ul li a *{
    transition: 400ms;
}
.navbar ul li a:hover > *{
    color: cornflowerblue;
}

.navbar ul li a i{
    margin: 0 0.2rem 0 0;
    color:var(--inverse)
}
@media screen and (max-width: 900px){
    .navbar a:visited > i{
        color:var(--inverse);
    }
    .mainheader{
        width:100%;
    }
    .navbar li span{
        display: none;
    }   
}
/* HEADER END */
main{
    grid-area: main;
    margin:1% 0;
    padding:0;
}
.container{
    display: flex;
    flex-direction: column ;
    background: silver;
}
.featured{
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width:18rem;
    margin:1rem 1rem;
    padding:0.5em 1rem;
    background-color: white;
    border-radius: 21px;
    box-shadow: 1px 2px 5px black;
}
.card-body{
    display: flex;
    flex-direction: column;
}
.card img{
    max-width:18rem;
}
.card-title{
    font-family: 'serif';
    font-size: 1.3em;
    font-weight: 900;
}
.card-text{
    font-family: 'serif';
    font-size: 1em;
    font-weight:500;
    overflow:hidden;
    text-overflow:ellipsis;
    line-height:1em;
    height:2em;
}
.card a{
    margin:0 0 1rem 0;
    width:10em;
    
}
.btn{
    font-size: 1.1rem;
    border-radius: 12px;
    padding:0.5rem;
    color:var(--primary);
    text-decoration: none;
} 
.btn:hover{
    box-shadow: 0 0 10px black;
}
.btn:active{
     box-shadow: inset 0 0 10px black; 
}
.btn-primary{
    background-color:white;
    border:1px solid black;
    color:black;
}
.btn-primary:active{
    background-color: black;
    color: white;
}
.btn{
    font-family: "Roboto", Roboto;
    font-size: 0.85em;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 2rem;
    padding: 8px 20px;
    text-decoration: none;
}
.btn:hover{
    color:white;
    background-color: black;
}
.btn:active{
    color:white;
    background-color:var(--success);
    border-color: green;
}
@media screen and (max-width: 900px){
    .login{
        position: fixed;
        top:10vh;
        right:20vw;
        margin-right:-15%;
        margin-top:-5vh;
        width:80vw;
        height:80vh;
    }
    .card{
        width:100%;
    }
}
footer{
    grid-area: footer;
    background-color: var(--dark);
    width: 100%;
}
.login-container{
    grid-area: main;
    display:flex;
    height:auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    background-size: cover;
    background-image: url(./imgs/login-wallpaper.jpg);
    background-repeat: no-repeat;
    
}
.login-box{
    margin:1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    background-color:rgba(169, 169, 169, 0.8);
    width:30%;
    height:auto;
}
@media screen and (max-width: 900px){
    .login-box{
        width:90%;
    }
}
.login-box *{
    margin-top:1rem;
    margin-left:10%;
    border-radius: 12px;
    font-weight: 400;
    font-family: sans-serif;
    align-self: center;
    margin-left:0;
}
.login-box h1{
    align-self:center;
    margin-left:0;
    font-weight: 900;
    font-family: sans;
    font-size:5rem;
    color: black;
    text-decoration: cornflowerblue underline;
}
.login-box label{
    align-self:flex-start ;
    margin-left:10%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 21px;
    
    /* text-decoration: 1px cornflowerblue underline; */

}
.login-box input{
    background-color: rgba(245, 245, 245, 0.712);
    height: 2rem;
    width: 80%;
    border-radius:12px;
    outline: none;
    border:1px solid transparent;
    box-shadow: none;
    padding-left: 0.5rem;
}
.login-box input::placeholder{
    opacity: 0.5;
    color:black;
    text-align: left;
    padding:20px;
    transition: 400ms;
}
.login-box input:focus::placeholder{
    opacity: 0.5;
    color:black;
    text-align: left;
    padding:20px;
    transform: translate(-15%,-15%) scale(0.7) ;
    font-size: large;
}
.login-box input:focus{
    color:black;
}
.login-box input:focus{
    border:1px solid cornflowerblue;
    transition: 400ms;
}
.login-box .btn-primary{
    height:2rem;
    width:6rem;
    align-self: flex-start;
    margin-left:10%;
    font-weight: 700;
    
}
.info{
    font-size: normal;
    background-color:var(--warning);
    color: var(--danger);
    text-align:center;
    width:100%;
    padding:10px 0 10px 0;
    border-radius: 0;
}
/* Not in use */
.login-box #login:disabled{ 
    background-color: var(--default);
    color: var(--primary);
}
/* End */
.login-box a{
    color:var(--dark);
    text-decoration: none;
    align-self: flex-end;
    margin-right:10%;
}
.login-box a:hover{
    color: var(--primary);
    text-decoration: underline;
}

/* --------- */
/* DashBoard */
/* --------- */
.dashbar{
    display: flex;
    width:2.5%;
    float: left;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    list-style: none;
    padding: 1rem 1rem 0 1rem;
    background-color: var(--faded);
    color:var(--inverse);
}
.closebtn:hover{
    position: relative;
    cursor:pointer;
}
.dashbar{
    background-color:var(--faded);
}
.dashnav{
    display: flex;
    width:2.5%;
    float: left;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 1rem 1rem 0 1rem;
    margin:0 0 0 0.5rem;
    z-index: 0;
}
.dashnav a{
    position: relative;
    display: flex;
    flex-direction:row;
    justify-content:left;
    align-items:center;
    padding:1rem;
    text-decoration: none;
    color:var(--inverse);
    transition: 400ms;
}
.dashnav a:hover{
    cursor:pointer;
    color:cornflowerblue;
}
.dashnav a span{
    margin-left:13px;
    display: none;
}
.mainbody{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    flex-direction: column;
    background: #eef2f7;
    margin: 1rem 1rem 1rem 1rem;
    box-shadow: 0 0 5px 1px black; 
    width:100%;
    background-size:cover;
    background-image: url(./imgs/login-wallpaper.jpg);
    background-repeat: no-repeat;
    overflow-x: auto;
}

.row{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:space-around;
    gap:1rem;
}
.mainbody h1{
    color:var(--faded);
    margin-top:2rem;
    font-size: 21px;
}
.items-form{
    background:rgba(169, 169, 169, 0.8);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.items-form *{
    width:auto;
    margin:auto;
}
.items-form span label{
    margin-bottom: 1rem;
}
.items-form span [type=text],.items-form span [type=number]{
    padding-left:1rem;
}
.items-form span input, .items-form span button{
    outline: none;
    border-radius: 12px;
    font-size: 16px;
    width:10rem;
    height:2rem;
    overflow:hidden;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.items-form span input::placeholder{
    font-size: 1rem;
    outline: none;
    border-radius: 2px;
    overflow: hidden; 
}
@media screen and (max-width: 900px){
    .items-form span{
        width:100%;
    }
}
.col{
    display:flex;
    flex-direction:column;
    align-self: center;
    justify-content: center;
}
.item{
    padding:1rem;
    background-color:var(--inverse);
    border-radius: 21px;
    color: var(--light);
    box-shadow: 0px 0px 3px 1px black;
    width:12rem;
    text-align: center;
}
.utable{
    margin:auto;
    border-collapse: collapse;
    width: 50%;
}
.utable td, .utable th{
    border: 1px solid black ;
    padding: 8px;
    min-width: 6rem;
}
.utable tr{
    background-color:white;
    color:rgb(51,51,51);
}
.utable tr:nth-child(even){
    background-color: #f2f2f2;  
    color:var(--inverse);
}
.utable tr:hover{
    background-color: #ddd;
}
.utable tr:nth-child(odd):hover{
    background-color:#ddd;
    color:var(--inverse);
}
.utable th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: var(--info);
    color: rgb(240, 240, 240);
}
input[type="file"],button[type="submit"]{
    cursor:pointer;
}