*{
    font-family: 'Roboto', sans-serif;
    font-size: 1.05rem;
    --primary:#4353FF;
    --secondary:#d4d4ce;
    --default:#f6f6f6;
    --dark:#023246;
    --success: #28a745;
}
button,a,.brandlogo,.navbar,li,i,a,.searchtext{
    transition: 400ms;
}
button{
    font-family: sans;
    outline: none;
    font-weight: 700;
    font-size: 1.05rem;
    color: var(--default);
    background: var(--primary);
}
button:hover{
    color: var(--primary);
    background: var(--default);
}
body{
    background:var(--default);
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: 10vh auto 11vh;
    grid-template-areas: 
    "head head head"
    "main main main"
    "footer footer footer";
}
header{
    display: flex;
    grid-area: head;
    width: 100%;
    box-shadow: 3px 0px 3px 1px black;
}
.mainheader{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color: transparent;
    width:60%;
    height:100%;
    background: white;
}
.brandlogo{
    height: inherit;
    cursor: pointer;
}
.searchfield{
    border-radius:25px;
    background: white;
    margin-right:1rem;
    border:1px solid black;
    box-shadow: 1px 1px 5px whitesmoke;
}
.searchfield input{
    border-radius: 25px;
    border:1px solid transparent;
    outline: none;
    width:5rem;
}
.searchfield span{
    margin:0.5rem 1rem 0.5rem 0.5rem;
}
.searchtext:focus{
    width:8rem;
}
.navbar{
    display: block;
    justify-content: center;
    align-items: center; 
    width:40%;
    height:100%;
    background: white;
}
.navbar ul{
    list-style: none;
    display:flex;
    flex-wrap: nowrap;
    justify-content:space-around;
    align-items: center;
    margin-right:1rem;
    padding-left:1rem;
}
.navbar li *{
    cursor:pointer;
    text-align: center;
    transition: 10ms;
    color:black;
    margin-left: 6px;
    font-weight: bold;
}
.navbar li:hover *{
    color:cornflowerblue;
    transition: 10ms;
}
.navbar li a{
    margin-left:6px;
    transition: 10ms;
    text-decoration: none;
}
@media screen and (max-width: 900px){
    .navbar{
        position:fixed;
        bottom: 0;
        height: auto;
        width:100%;
        border-top:1px solid black;
    }
    .navbar a:visited > i{
        color:black;
    }
    .searchtext:focus{
        width:5rem;
    }
    .mainheader{
        width:100%;
    }
    .navbar li span{
        display: none;
    }
    
}
main{
    grid-area: main;
    margin:4rem 0;
}
.container{
    display: flex;
    flex-direction: column ;
    background: silver;
}
.featured{
    display: flex;
    background-color: white;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.card{
    width:18rem;
    margin:1rem 1rem;
    padding:0.5em 1rem;
    background-color: white;
    border-radius: 21px;
    border:1px solid silver;
    box-shadow: 1px 2px 5px black;
}
.card-body{
    display: flex;
    flex-direction: column;
}
.card img{
    width:18rem;
    border-bottom: 1px solid silver;
}
.card-title{
    font-size: 1.1em;
    font-weight: 900;
}
.card-text{
    font-size: 0.90em;
    font-weight:600;
}
.card a{
    margin:0 0 1rem 0;
    width:10em;
    
}
/* .btn{
    font-size: 1.1rem;
    border-radius: 12px;
    padding:0.5rem;
    color:var(--primary);
    text-decoration: none;
} */
/* .btn:hover{
    box-shadow: 0 0 10px black;
}
.btn:active{
     box-shadow: inset 0 0 10px black; 
}
.btn-primary{
    background-color:white;
    border:1px solid black;
    color:black;
}
.btn-primary:active{
    background-color: black;
    color: white;
} */
.btn{
    font-family: "Roboto", Roboto;
    font-size: 0.85em;
    font-weight: bold;
    color: black;
    background-color: white;
    border: 2px solid black;
    border-radius: 2rem;
    padding: 8px 20px;
    text-decoration: none;
}
.btn:hover{
    color:white;
    background-color: black;
}
.btn:active{
    color:white;
    background-color:var(--success);
    border-color: green;
}
@media screen and (max-width: 900px){
    .login{
        background: green;
        position: fixed;
        top:10vh;
        right:20vw;
        margin-right:-15%;
        margin-top:-5vh;
        width:80vw;
        height:80vh;
    }
}
footer{
    grid-area: footer;
    background-color: var(--dark);
    width: 100%;
}
.login-container{
    grid-area: main;
    display:flex;
    height:auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    background-size: cover;
    background-image: url(./imgs/login-wallpaper.jpg);
    background-repeat: no-repeat;
    
}
.login-box{
    margin:1rem 0 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:flex-start;
    background-color:rgba(169, 169, 169, 0.8);
    width:25rem;
    height:auto;
}
.login-box *{
    margin-top:1rem;
    margin-left:10%;
    border-radius: 12px;
    font-weight: 400;
    font-family: sans-serif;
    align-self: center;
    margin-left:0;
}
.login-box h1{
    align-self:center;
    margin-left:0;
    font-weight: 900;
    font-family: sans;
    font-size:5rem;
    color: black;
    text-decoration: cornflowerblue underline;
}
.login-box label{
    align-self:flex-start ;
    margin-left:10%;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 21px;
    
    /* text-decoration: 1px cornflowerblue underline; */

}
.login-box input{
    background-color: rgba(245, 245, 245, 0.712);
    height: 2rem;
    width: 80%;
    border-radius:12px;
    outline: none;
    border:1px solid transparent;
    box-shadow: none;
    z-index: 0;
}
.login-box input::placeholder{
    opacity: 0.5;
    color:black;
    text-align: left;
    padding:20px;
    transition: 400ms;
}
.login-box input:focus::placeholder{
    opacity: 0.5;
    color:black;
    text-align: left;
    padding:20px;
    transform: translate(-15%,-15%) scale(0.7) ;
    font-size: large;
}
.login-box input:focus{
    color:black;
}
.login-box input:focus{
    border:1px solid cornflowerblue;
    transition: 400ms;
}
.login-box .btn-primary{
    height:2rem;
    width:6rem;
    align-self: flex-start;
    margin-left:10%;
    font-weight: 700;
    
}
.login-box .info{
    font-size: smaller;
    color: rgb(173, 41, 41);
}
/* Not in use */
.login-box #login:disabled{ 
    background-color: var(--default);
    color: var(--primary);
}
/* End */
.login-box a{
    color:var(--dark);
    text-decoration: none;
    align-self: flex-end;
    margin-right:10%;
}
.login-box a:hover{
    color: var(--primary);
    text-decoration: underline;
}